<!DOCTYPE html>
<html>

<head>
    <title>Richard's OGC API Client</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div id="app">
        <p>{{ title }}</p>

        <p>
            <label>Base URL: <input type="text" v-model="baseUrl" @input="baseUrlChange()" size="100"></label>
        </p>

        <button
            v-for="tab in tabs"
            :key="tab"
            @click="currentTab = tab"
            :class="['tab-button', { active: currentTab === tab }]"
        >{{ tab }}</button>

        <landing-page
            :base-url="baseUrl"
            @rx-landing-json="rxLandingJson"
            v-show="currentTab === 'Landing'"
            class="tab"
        ></landing-page>

        <div
            v-show="currentTab === 'Processes'"
            class="tab"
        >This is the Processes tab</div>

        <div
            v-show="currentTab === 'Fredbob'"
            class="tab"
        >This is the FREDBOB tab</div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="landingPage.js"></script>
    <script src="main.js"></script>

</body>

</html>